.fullHeader {
    min-height:75px;
    line-height: 75px;
    text-align: center;
    color: purple;
}

.nav-pills {
    list-style-type: none;
    width: 50%;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #0000005e;
    text-align: center;
}

.nav-pills li {
    float: center;
}

.nav-pills li a {
    display: block;
    color: rgb(255, 0, 212);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-pills li a:hover {
    color: white;
}

.nav-pills li a:active {
    list-style-type: none;
    text-decoration: none;
}