body {
    margin-top: 0px;
}

h1 {
    margin-top: 0px;
    padding-bottom: 10px;
}

h3 {
    padding-top: 0px
}

p {

} 

#navbar a {
    display: block;
    background-color:#333;
    color: white;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    padding: 14px 16px;
    position: fixed;
    overflow: hidden;
    float: left;
}

#navbar a:hover {
    background-color: #111111;
    color: white;
    text-decoration: none;
}

#lastfm-link a:hover {
    background-color: #d51007;
    float: right;
}

.divider {
  background-color: #ebe8e8;
  margin: 0px;
  padding: 10px;
}