body {
  margin: 40px 40px 40px 40px;
}

h1 {

}

p {

} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#dddddd;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
}

.divider {
  background-color: #ebe8e8;
  border-width: 10px;
}